
{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}
{% if session.user_id %}

{% else %}
<div>
        <div class="w3-container  w3-animate-fading">
                <div class="jumbotron  rounded">
                        <div id="div_index">
                                <h1 class="display-4">Welcome!</h1>
                                We nake communication with your students easier
                                <br>
                                <div><a href="/register"><button type="button" class="btn1">Sign
                                        Up</button></a>
                                 <a href="/login"><button type="button" class="btn">Log in</button></a>
                                <div>
                        </div>
        
                </div>
        </div>
</div>       
        <div class="w3-container w3-center w3-animate-left">
                <div class="jumbotron  rounded">
                        <div class="col-md-6 px-0">
                                <h1 class="display-4" style="font-style:italic;">Why Us?</h1>

                                Improve organisation.
                                <br> Meetings and Appointments.
                                <br>Organise your daily tasks and goals.
                                <br>Track of due works.
                        </div>
                </div>
        </div>

{% endif %}

{% endblock %}
